<ion-view>
  <ion-nav-title>
    Account Achievements
  </ion-nav-title>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.reload()"></ion-refresher>

    <div class="item item-input">
      <input type="search"
          placeholder="Search for Achievement..."
          ng-model="vm.search"
          ng-change="vm.searchAchievements()" />
    </div>

    <div class="card" ng-if="vm.error">
      <div class="item item-text-wrap">
        {{ vm.error }}
      </div>
    </div>

    <ion-item
      class="item item-thumbnail-left"
      collection-repeat="ach in vm.visibleAchievements track by $index"
      item-height="100px"
      item-width="100%"
      ng-click="vm.showAchievementDetails(ach)">
        <img style="height: 50px; width: 50px;" ng-if="ach.done" src="img/checkmark.png" />
        <h2>
          {{ ach.name }}
        </h2>
        <div>
          {{ach.current}}
        </div>
        <div class="percentage-complete">
          {{vm.calcGradientPercent(ach)}}% complete
        </div>
    </ion-item>
  </ion-content>
</ion-view>