<ion-view>
  <ion-nav-title>
    Account Achievements
  </ion-nav-title>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.reload()"></ion-refresher>
    <ion-item
      class="item item-thumbnail-left"
      collection-repeat="ach in vm.achievements"
      item-height="70px"
      ng-click="vm.showAchievementDetails(ach)"
    >
      <img style="height: 50px; width: 50px;" ng-if="ach.done" src="" />
      <div>
        {{ ach.name }}
      </div>
      <div>
        {{ach.current}}
      </div>
      
    </ion-item>
  </ion-content>
</ion-view>