<ion-view>
  <ion-nav-title>
    {{ vm.character.name }}
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Details
      </div>
      <div>
        <ion-list>
          <ion-item>
            <h2>Profession</h2>
            <p>{{ vm.character.profession }}</p>
          </ion-item>
          <ion-item>
            <h2>Level</h2>
            <p>{{ vm.character.level }}</p>
          </ion-item>
          <ion-item>
            <h2>Race</h2>
            <p>{{ vm.character.race }}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="card">
      <ion-item class="item-divider">
        Professions
      </ion-item>
      <div>
        <ion-list>
          <ion-item ng-repeat="prof in vm.character.crafting">
            <h2>{{prof.discipline}}</h2>
            <p>{{prof.rating}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="card">
      <ion-item class="item-divider">
        Navigation
      </ion-item>
      <div class="list">
          <a class="item" href="#character/{{vm.character.name}}/build">Build</a>
          <a class="item" href="#character/{{vm.character.name}}/equipment">Equipment</a>
          <a class="item" href="#character/{{vm.character.name}}/inventory">Inventory</a>
      </div>
    </div>
  </ion-content>
</ion-view>