<ion-view view-title="Character List">
  <ion-content class="padding">
     <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.reload()"></ion-refresher>
    <div class="card" ng-if="vm.error">
      <div class="item item-text-wrap">
        {{ vm.error }}
      </div>
    </div>
    <ion-list ng-if="vm.characters" class="character-list list">
      <ion-item class="item item-thumbnail-left" ng-repeat="char in vm.characters" href="#character/{{char.name}}">
        <img ng-src="{{vm.professionsMap[char.profession].icon_big}}" />
        <div><strong>{{char.name}}</strong></div>
        <div>Level {{char.level}} {{char.profession}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
