<ion-view>
  <ion-nav-title>
    {{ vm.character.name }} - Build
  </ion-nav-title>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Specializations
      </div>
      <div class="env" ng-repeat="(env, spec) in vm.character.specializations">
        <h4>{{env}}</h4>
        <div class="spec-details" ng-repeat="s in spec track by $index">
          <h5>{{s.name}}</h5>
          <div class="row" style="background-image: url('{{s.background}}'); background-position: bottom left;">
              <img class="col" ng-src="{{s.icon}}" />
              <img
                ng-repeat="t in s.traits"
                class="col"
                ng-src="{{t.icon}}"
                ng-click="vm.showTraitDetails(t)"
              />
          </div>
        </div>
      </div>
     
    </div>
  </ion-content>
</ion-view>