<ion-view>
  <ion-nav-title>
    {{ vm.character.name }} - Equipment
  </ion-nav-title>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.reload()"></ion-refresher>
    <div class="card">
      <div class="item item-divider">
        Gear
      </div>
      <div class="row" style="display: flex; flex-wrap: wrap" ng-click="vm.eqPopup($event)">
        <div class="env" style="width: 70px;" ng-repeat="eq in vm.character.equipment track by $index" data-eq-index="{{$index}}">
          <img ng-src="{{eq.icon}}" />
          <p>{{eq.name}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>