<ion-view>
  <ion-nav-title>
    Account Material Storage
  </ion-nav-title>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.reload()"></ion-refresher>
    <div class="item item-input">
      <input type="search"
          placeholder="Search for Material..."
          ng-model="vm.search"
          ng-model-options="{debounce: 200}">
    </div>
    
    <div class="card" ng-if="vm.error">
      <div class="item item-text-wrap">
        {{ vm.error }}
      </div>
    </div>

    <div class="flex-box row" style="flex-wrap: wrap;" ng-click="vm.itemPopup($event)">
      <div class="col col-20" ng-repeat="item in vm.visibleMaterials track by $index">
        <img ng-if="item" class="inventory-icon {{item.rarity.toLowerCase()}}-border" ng-src="{{item.icon}}" alt="" data-item-index="{{$index}}">
        <span ng-if="item" class="inventory-count">{{item.count}}</span>
        <div ng-if="!item" class="item-empty-slot"></div>
      </div>
    </div>
    <ion-infinite-scroll ng-if="vm.visibleMaterials.length < vm.materials.length" on-infinite="vm.showMoreOnBottom()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>