<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">API Key</span>
        <input type="text" ng-model="vm.settings.apiKey" placeholder="Enter API Key Here">
      </label>
    </div>
    <div class="item item-text-wrap instructions">
      <p>
        To obtain an API key, go to <a target="_blank" href="https://account.arena.net/applications">https://account.arena.net/applications</a>
        and generate a new token. Then place this token in the space above.
      </p>
      <p>
         This application uses the following permissions:
      </p>
      <div>
        <ul class="bullet-list">
          <li>Builds</li>
          <li>Characters</li>
          <li>Wallet</li>
        </ul>
      </div>
    </div>
    <div class="item item-text-wrap">
      <button class="button button-positive" ng-click="vm.clearCache()">
        Clear Cache
      </button>
    </div>
  </ion-content>
</ion-view>
