<ion-view view-title="Events">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.reload()"></ion-refresher>
    <ion-item
      class="item"
      ng-repeat="event in vm.events track by $index"
      item-height="100px"
    >
      <h2 class="event-item">
        {{event.localizedTime}} -
        <a href="{{event.wikiLink}}" ng-click="$emit('open-link', event.wikiLink)" target="_system">{{event.worldBoss}}</a>
        <span class="hardcore" ng-if="event.hardcore">
          (Hardcore)
        </span>
      </h2>
      <p>{{event.zone}}, {{event.area}}</p>
    </ion-item>
  </ion-content>
</ion-view>
