<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="PVE" icon-off="fa fa-globe" icon-on="fa fa-globe" href="#/tab/pve">
    <ion-nav-view name="tab-pve"></ion-nav-view>
  </ion-tab>
  <ion-tab title="PVP" icon-off="fa fa-tint" icon-on="fa fa-tint" href="#/tab/pvp">
    <ion-nav-view name="tab-pvp"></ion-nav-view>
  </ion-tab>
  <ion-tab title="WVW" icon-off="fa fa-tasks" icon-on="fa fa-tasks" href="#/tab/wvw">
    <ion-nav-view name="tab-wvw"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Events" icon-off="fa fa-hourglass-start" icon-on="fa fa-hourglass-end" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>
</ion-tabs>
