<ion-view>
  <ion-nav-title>
    Historical Transactions
  </ion-nav-title>
  <ion-content>
     <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.reload()"></ion-refresher>
    <div class="card">
      <div class="item item-divider" ng-click="vm.toggleSection('buys')">Buys</div>
      <div class="item item-thumbnail-left" ng-repeat="item in vm.buys" ng-click="vm.itemPopup(item)"  ng-show="vm.show['buys']">
        <img ng-src="{{item.icon}}" />
        <h2>{{item.name}}</h2>
        <h3>{{item.formatted_date}}</h3>
         <div class="currency-stanza">
          <span class="gold">{{item.formatted_currency.gold}}</span>
          <span class="silver">{{item.formatted_currency.silver}}</span>
          <span class="copper">{{item.formatted_currency.copper}}</span>
        </div>
        <h3>Quantity: {{item.quantity}}</h3>
      </div>
      <div class="item no-buys" ng-if="!vm.buys.length" ng-show="vm.show['buys']">
        No Historical Buys
      </div>
    </div>
    <div class="card">
      <div class="item item-divider" ng-click="vm.toggleSection('sells')">Sells</div>
      <div class="item item-thumbnail-left" ng-repeat="item in vm.sells" ng-click="vm.itemPopup(item)" ng-show="vm.show['sells']">
        <img ng-src="{{item.icon}}" />
        <h2>{{item.name}}</h2>
        <h3>{{item.formatted_date}}</h3>
        <div class="currency-stanza">
          <span class="gold">{{item.formatted_currency.gold}}</span>
          <span class="silver">{{item.formatted_currency.silver}}</span>
          <span class="copper">{{item.formatted_currency.copper}}</span>
        </div>
        <h3>Quantity: {{item.quantity}}</h3>
      </div>
      <div class="item no-buys" ng-if="!vm.sells.length" ng-show="vm.show['sells']">
        No historical Sells
      </div>
    </div>
  </ion-content>
</ion-view>