/* Empty. Add your own CSS if you like */
.bullet-list {
  list-style-type: disc;
}

.inventory-count {
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  min-width: 24px;
  max-width: 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -28px;
  right: -40px;
}

.inventory-icon {
  height: 64px;
  width: 64px;
  border: 4px solid;
}

.item-empty-slot {
  height: 64px;
  width: 64px;
  border: 4px solid black;
}

.ascended-border {
  border-color: #fb3e8d;
}

.legendary-border {
  border-color: #4C139D;
}

.masterwork-border {
  border-color: #1a9306;
}

.exotic-border {
  border-color: #ffa405;
}

.rare-border {
  border-color: #fcd00b;
}

.fine-border {
  border-color: #62A4DA;
}

.common-border {
  border-color: black;
}

.currency-stanza span {
  padding: 3px;
  font-weight: bold;
  border-radius: 50%;
  min-width: 25px;
  display: inline-block;
  text-align: center;
}

.currency-stanza .gold {
  background-color: yellow;
}

.currency-stanza .silver {
  background-color: silver;
}

.currency-stanza .copper {
  background-color: darkorange;
}

.hardcore {
  color: red;
}
